:root {
	--header-bg: #263145;
	--editor-bg: rgba(38, 49, 69, 1);
	--result-bg: #2d394d;
	--text: #f1f5f9;
	--text-rgb: 241, 245, 249;
	--pink: 255, 146, 205;
	--font: 'Fira Sans', Avenir, Helvetica, Arial, sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text);
	margin-top: 60px;
	background: #0f172a;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--font);
}

* {
	box-sizing: border-box;
}

@font-face DejaVu {
	font-family: DejaVuSansMono;
	src: url(./static/DejaVuSansMono.ttf);
	font-weight: normal;
}

@font-face DejaVu {
	font-family: DejaVuSansMono;
	src: url(./static/DejaVuSansMono-Bold.ttf);
	font-weight: bold;
}

@font-face DejaVu {
	font-family: DejaVuSansMono;
	src: url(./static/DejaVuSansMono-Oblique.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face DejaVu {
	font-family: DejaVuSansMono;
	src: url(./static/DejaVuSansMono-BoldOblique.ttf);
	font-weight: bold;
	font-style: italic;
}

h1 {
	width: 90vw;
	margin: 5rem auto 1.5rem;
}

main {
	width: 90vw;
	margin: 0 auto;
}

button {
	/* background: rgba(241, 245, 249, 0.1); */
	background: transparent;
	border: none;
	font-size: 0.9rem;
	letter-spacing: 0.25pt;
	height: 40px;
	padding: 6px 12px;
	font-family: var(--font);
	font-weight: 600;
	color: rgba(241, 245, 249, 0.7);
	border-radius: 4px;
	transition: 125ms;
}

button:hover {
	transform: scale(1.05);
	color: rgba(241, 245, 249, 0.9);
}

button.active:hover {
	color: var(--text);
}

button.active {
	background: transparent;
	color: var(--text);
}

svg {
	width: 14px;
	height: 14px;
	transform: scale(1.5) translateY(2px);
}

code {
	background: rgba(var(--text-rgb), 0.15);
	color: rgba(var(--text-rgb), 0.85);
	border-radius: 4px;
	padding: 2px 6px;
	margin: 0px 2px;
	font-size: 85%;
}

#window {
	box-shadow: 0 15px 25px 2px #070c17;
	border-radius: 0.25rem;
}

#editor header {
	border-top-left-radius: 0.25rem;
	background: var(--header-bg);
	height: 40px;
	position: relative;
}

#result header {
	border-top-right-radius: 0.25rem;
	height: 40px;
}

#editor header .window-icons span {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#editor header .window-icons span:nth-child(1) {
	background: #ef4444;
}

#editor header .window-icons span:nth-child(2) {
	background: #fcd34d;
	left: 30px;
}

#editor header .window-icons span:nth-child(3) {
	background: #22c55e;
	left: 50px;
}

#window nav {
	display: flex;
	justify-content: flex-end;
}

article {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: auto;
}

#window section {
	background: var(--result-bg);
}

section#editor {
	background: var(--editor-bg);
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	font-size: 14px;
}

section#result {
	font-family: DejaVuSansMono, monospace !important;
	font-size: 14px;
	border-left: 1px solid #263145;
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

#result-text {
	max-height: 70vh;
	padding-top: 10px;
	padding: 0.5rem 1.5rem;
	overflow: scroll;
	line-height: 1.8;
}

.cm-editor {
	height: 70vh;
}

.cm-editor,
.cm-gutters,
.cm-scroller,
.cm-panels,
.cm-panel {
	border-bottom-left-radius: 0.25rem;
}

.cm-editor .cm-content {
	font-family: DejaVuSansMono, monospace !important;
	background: var(--editor-bg);
	color: #f1f5f9;
	padding: 12px 0;
}

.cm-scroller {
	overflow: auto;
}

.cm-panels,
.cm-panel {
	background: var(--result-bg) !important;
	padding: 0.5rem;
	font-size: 1rem;
	color: var(--text);
}

.cm-panels-bottom {
	border-top: 1px solid #263145 !important;
}

.cm-editor button.cm-button,
.cm-textfield {
	background-color: var(--header-bg);
	background-image: none !important;
	border: none !important;
	padding: 0.25rem 0.75rem !important;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	margin: 2px !important;
}

.cm-textfield {
	background-color: #475569 !important;
	padding: 0.35rem 1rem !important;
	font-size: 0.9rem;
}
.cm-textfield::placeholder {
	color: #94a3b8 !important;
	font-size: 0.9rem;
}

.cm-scroller,
.cm-gutters {
	background: var(--editor-bg) !important;
	border-right: none !important;
}

.cm-gutter.cm-lineNumbers {
	width: 40px !important;
}

.cm-editor.cm-focused {
	width: 100%;
}

.cm-editor.cm-focused {
	outline: none !important;
}

.cm-activeLine.cm-line {
	background: transparent;
}

.cm-gutterElement.cm-activeLineGutter {
	background: transparent;
}

.cm-gutter.cm-lineNumbers {
	color: #64748b;
}

.cm-cursor.cm-cursor-primary {
	border-color: var(--text);
}

.cm-selectionLayer {
	z-index: 10 !important;
	opacity: 0.25;
}

.cm-selectionBackground {
	background: #e2e8f0 !important;
}

.result-error {
	max-width: 60ch;
	background: rgba(225, 60, 60, 0.1);
	padding: 12px 8px;
	margin: 16px 0;
	border-radius: 3px;
	border: 1px solid rgba(225, 60, 60, 0.25);
}

.result-error .muted {
	color: rgba(247, 199, 199, 0.9);
}

.btn {
	position: relative;
	display: block;
	z-index: 10;
	width: 70px;
	height: 40px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	outline: none;
	cursor: pointer;
}

.btn::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 18px;
	z-index: -1;
	width: 28px;
	height: 12px;
	border-radius: 50px;
	background-color: #ec4899;
	filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
}

.btn:hover::before {
	transform: scale(2);
	opacity: 1;
}

.muted {
	color: #adbbce;
}

.pink {
	color: #f9a8d4;
}

.red {
	color: #fd6868;
}

.yellow {
	color: #fdc568;
}

.variable-name {
	color: #f6faff;
}

.string {
	color: #d9f99d;
	font-style: italic;
}

.definition-keyword {
	color: #b7c5df;
	font-style: italic;
	/* font-weight: bold; */
}

.control-keyword {
	color: #b7c5df;
	font-style: italic;
}

.number {
	color: #a6e0ff;
	font-style: italic;
}

.boolean {
	color: #fd6868;
}

.property-name {
	color: #f6faff;
	/* font-style: italic; */
}

.builtin-type-name {
	color: #ff92cd;
	/* font-weight: bold; */
	font-style: italic;
}

.self-keyword {
	color: #ff92cd;
	font-weight: bold;
	/* font-style: italic; */
}

.comment {
	color: #94a3b8;
	font-style: italic;
}

.class-name {
	color: #ff92cd;
	font-weight: bold;
	font-style: italic;
}

.operator {
	color: #b7c5df;
}
